/* 02 =COMMON STYLES
------------------------- */

body {
    
}

select, input, textarea {
      color: $input-color;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a:hover, a:active {
    outline: none;
}

a, a:active, a:visited {
    color: #607890;
}

a:hover, a:focus {
    color: #036;
}

a:link {
    -webkit-tap-highlight-color: #FF5E99;
}

blockquote {
    
}
