/* 02 =COMMON STYLES
------------------------- */
@font-face {
	font-family:"Zimmer";
	src:url("/webfonts/zimmer_RegularWeb?#iefix");
	src:url("/webfonts/zimmer_RegularWeb?#iefix") format("eot"),
		url("/webfonts/zimmer_RegularWeb.woff") format("woff");
}

@font-face {
	font-family:"Zimmer Bold";
	src:url("/webfonts/zimmer_BoldWeb?#iefix");
	src:url("/webfonts/zimmer_BoldWeb?#iefix") format("eot"),
		url("/webfonts/zimmer_BoldWeb.woff") format("woff");
}

html { 
	overflow-y: scroll;
	font-size: 62.5%;
}

body {
	background: #F3F3F5;
	color: #000000;
}

select, input, textarea {
	color: $input-color;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

a:hover, a:active {
	outline: none;
}

a, a:active, a:visited {
	color: #607890;
}

a:hover, a:focus {
	color: #036;
}

a:link {
	-webkit-tap-highlight-color: #FF5E99;
}

blockquote {
	
}

.btn {
	@include font-size(1.6);
	@include inline-block;
	@include transition(background, ease-out, .2s);
	@include rem(padding, 2.5, 9.0);
	background: $blue;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	@include respond-min($tablet) {
		@include rem(padding, 2.0, 4.0);
	}

	&:hover {
		color: #fff;
		background: lighten( $blue, 3% );
	}

	&:active {
		color: #fff;
		background: darken( $blue, 3% );
	}

}
