// // Tell respond-min and respond-max to output all media queries by default
//$viewport-width: false !default;

@mixin font-size($size, $line: 1.15) {
    font-size: ($size * 10) + px;
    font-size: $size + rem;
    line-height: $line;
}

// Apply this to your video container to have it scale responsively
// Use 75% for 4:3 videos
@mixin intrinsic-ratio($selector: '.scalable', $ratio: 56.25%) {
    position: relative;
    padding-bottom: $ratio;
    height: 0px;
    margin-bottom: 10px;
    #{$selector} {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
}

// Tell respond-min and respond-max to output all media queries by default
$viewport-width: false !default;

@mixin respond-min($width) {
    @if $viewport-width {
        @if $viewport-width >= $width {
            @content;    
        }
    }
    @else {
        @media screen and (min-width: $width) {
            @content;
        }
    }
}

@mixin respond-max($width) {
    @if $viewport-width {
        @if $viewport-width <= $width {
            @content;    
        }
    }
    @else {
        @media screen and (max-width: $width) {
            @content;
        }
    }
}

// // Fonts mixin example 
// @mixin name-of-typeface($weight) {
//     @if $weight == '(some-weight)' {
//         font-family: ;
//         font-style: ;
//         font-weight: ;
//     }
// }